<%
var publishTimestamp = page.date.valueOf();
%>
<div class="post-container container">
    <h3>
        <i class="fa fa-user-o"></i>
        <%= config.author || '' %>

        <span class="post-date float-right">
            <i class="fa fa-pencil-square-o"></i>
                <time class="time" datetime="<%= date_xml(page.date) %>">
                    <%= date(page.date) %>
                </time>
        </span>
    </h3>

    <article class="post-content">
        <h1><%= page.title || 'Untitle' %></h1>
        <%- page.content %>
    </article>
</div>

<% if (config.gitalk ) { %>
<%- partial('_widget/gitalk') %>
<% }else{ %>
<%- partial('_widget/disqus') %>
<% } %>
