<%
var avatar = config.avatar || theme.avatar || 'https://octodex.github.com/images/baracktocat.jpg'
var posts = site.posts
%>
<nav class="navbar-wrapper">
    <div class="navbar">
        <div class="container clearfix">
            <!--<a href="<%= config.root %>" class="navbar-logo"><i class="fa fa-github"></i></a>-->
            <a href="<%= config.root %>" class="navbar-logo">
                <img class="git-icon" src="/images/git_icon.jpg" alt="">
            </a>

            <div class="navbar-search float-left">
                <div class="navbar-search-form">
                    <input class="search-input" type="text" placeholder="输入标题关键字搜索文章">
                    <div class="search-list-con">
                        <% posts.forEach(function(post){ %>
                            <a class="search-list-item" href="<%= config.root %><%= post.path %>"><%= post.title %></a>
                        <% }) %>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav float-left">
                <% if(theme.menu.archives){ %>
                <li><a href="<%= url_for(theme.archive_dir) %>">Archives</a></li>
                <% } %>
                <% if(theme.menu.categories){ %>
                <li><a href="<%= url_for(theme.category_dir) %>">Categories</a></li>
                <% } %>
                <% if(theme.menu.tags){ %>
                <li><a href="<%= url_for(theme.tag_dir) %>">Tags</a></li>
                <% } %>
                <% if(theme.rss_dir){ %>
                <li class="desktop-only"><a href="<%= url_for(theme.rss_dir) %>" target="_blank">RSS</a></li>
                <% } %>
            </ul>

            <!--<ul class="navbar-nav user-nav float-right desktop-only">-->
                <!--<li class="user-nav-notification">-->
                    <!--<a><span class="user-nav-unread"></span><i class="fa fa-bell"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a><i class="fa fa-plus"></i> <i class="fa fa-caret-down"></i></a>-->
                <!--</li>-->
                <!--<li class="user-nav-logo">-->
                    <!--<a><img src="<%= avatar %>"> <i class="fa fa-caret-down"></i></i></a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</nav>
